[project]
	description = Yet another fluentd logger for scala
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Takeru Sato (tkrs)
[access "refs/for/refs/*"]
	read = group user/Takeru Sato (tkrs)
	push = group user/Takeru Sato (tkrs)
	label-Code-Review = -2..+2 group user/Takeru Sato (tkrs)
	label-Verified = -1..+1 group user/Takeru Sato (tkrs)
	rebase = group user/Takeru Sato (tkrs)
	removeReviewer = group user/Takeru Sato (tkrs)
	submit = group user/Takeru Sato (tkrs)
[access "refs/heads/*"]
	read = group user/Takeru Sato (tkrs)
	create = group user/Takeru Sato (tkrs)
	push = +force group user/Takeru Sato (tkrs)
	pushMerge = group user/Takeru Sato (tkrs)
[access "refs/tags/*"]
	push = group user/Takeru Sato (tkrs)
	push = +force group user/Takeru Sato (tkrs)
